<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.student.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.student.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.student.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controller.student.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateController</servlet-name>
        <servlet-class>controller.student.CertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DummyListController</servlet-name>
        <servlet-class>controller.dummy.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homecontroller</servlet-name>
        <servlet-class>controller.student.Homecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homecontroll</servlet-name>
        <servlet-class>controller.student.Homecontroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.student.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemController</servlet-name>
        <servlet-class>controller.student.DeleteMemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailMemController</servlet-name>
        <servlet-class>controller.student.DetailMemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMemberController</servlet-name>
        <servlet-class>controller.student.ListMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemController</servlet-name>
        <servlet-class>controller.student.UpdateMemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMemController</servlet-name>
        <servlet-class>controller.student.InsertMemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PTranController</servlet-name>
        <servlet-class>controller.student.PTranController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMemController</servlet-name>
        <servlet-class>controller.student.SearchMemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/student/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/student/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/student/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/student/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateController</servlet-name>
        <url-pattern>/student/certificates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DummyListController</servlet-name>
        <url-pattern>/dummy/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homecontroll</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/regis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemController</servlet-name>
        <url-pattern>/member/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailMemController</servlet-name>
        <url-pattern>/member/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMemberController</servlet-name>
        <url-pattern>/member/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemController</servlet-name>
        <url-pattern>/member/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMemController</servlet-name>
        <url-pattern>/member/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PTranController</servlet-name>
        <url-pattern>/member/pts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMemController</servlet-name>
        <url-pattern>/member/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
</web-app>
